# Vivado / Xilinx temporary tool files
*.log
*.jou
*.str
*.os
*.vlm
*.pb
*.mif
*.wdb
*.vcd
*.dir/
xsim.dir/
.Xil/
vivado_pid*.str
dfx_runtime.txt

# Local User Settings & Workspace cache
.analytics/
Work/
.antigravity/

# Sandboxed Simulation Outputs
vivado/

# Agent artifacts
walkthrough.md
implementation_plan.md